<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Essence.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Essence.Properties.Settings>
            <setting name="Token" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="Monaco" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TopMost" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SaveTabs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SaveAIHistory" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RPC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Volume" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="Background" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="BackgroundTime" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="JoinedServer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Name" serializeAs="String">
                <value>Essence User</value>
            </setting>
            <setting name="Avatar" serializeAs="String">
                <value>https://i.imgur.com/hxNqiz8.png</value>
            </setting>
            <setting name="OptimizeUI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CollectGameData" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowChangelog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MultiInstance" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MusicEvents" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GameEvents" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserPreference" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="FirstLogin" serializeAs="String">
                <value>True</value>
            </setting>
        </Essence.Properties.Settings>
    </userSettings>
</configuration>